<p id="notice"><%= notice %></p>

<p>
  <strong>Cant dishes:</strong>
  <%= @order_detail.cant_dishes %>
</p>

<p>
  <strong>Moneda:</strong>
  <%= @order_detail.moneda %>
</p>

<p>
  <strong>Parcial price:</strong>
  <%= @order_detail.parcial_price %>
</p>

<p>
  <strong>Order header:</strong>
  <%= @order_detail.order_header %>
</p>

<p>
  <strong>Dish:</strong>
  <%= @order_detail.dish %>
</p>

<%= link_to 'Edit', edit_order_detail_path(@order_detail) %> |
<%= link_to 'Back', order_details_path %>
