

<% @join2.each do |f_menu| %>
   <h2> <%= h f_menu.local.description -%></h2>
   <h3> Menu del dia <%= h f_menu.date_menu.strftime("%d/%m/%y") -%></h3>
<% end %>


<% @join.sort.each do |nuevo| %>
   
       <div class="col6">
         <div class="inner-one-third">
            <p>  <%= nuevo.dish.dishes_type.description %></p>
         </div>
    </div>
         <div>
         <ul>
         <li>
         <%= check_box_tag 'dishes_ids[]', nuevo.dish.id -%>
         <%= h nuevo.dish.description -%> - <%= h nuevo.price -%>
         </li>
    </ul>
        </div>
    
   
    
<% end %>






