

<% @join2.each do |f_menu| %>
   <h2> <%= h f_menu.local.description -%></h2>
   <h3> Menu del dia <%= h f_menu.date_menu.strftime("%d/%m/%y") -%></h3>
<% end %>


<% @join.sort.each do |nuevo| %>
   
       <div class="col6">
         <div class="inner-one-third">
            <p>  <%= nuevo.dish.dishes_type.description %></p>
         </div>
    </div>
         <div>
         <ul>
         <li>
         <%= check_box_tag 'dishes_ids[]', nuevo.dish.id -%>
         <%= h nuevo.dish.description -%> - <%= h nuevo.price -%>
         </li>
    </ul>
        </div>
    
   
    
<% end %>








 <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
        <div class="col-lg-3">
          <div class="well sidebar-nav">
            <h3>Nuestros Locales</h3>
              <% @locals.each do |local| %>
                <ul class="nav nav-list">
            
               <li><%= link_to local.description, home_path(local.id) %></li>

            </ul>
               <% end %> 
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->
