<p id="notice"><%= notice %></p>

<p>
  <strong>Descripción:</strong>
  <%= @dishes_type.description %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @dishes_type.order_status %>
</p>

<%= link_to 'Edit', edit_dishes_type_path(@dishes_type) %> |
<%= link_to 'Atras', dishes_types_path %>
