<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @local.description %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @local.address %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @local.phone %>
</p>

<%= link_to 'Edit', edit_local_path(@local) %> |
<%= link_to 'Back', locals_path %>
