<%= simple_form_for(@order_header) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :date_order %>
    <%= f.input :date_canceled %>
    <%= f.input :observations %>
    <%= f.input :amount %>
    <%= f.input :datos_customer %>
    <%= f.input :address_customer %>
    <%= f.input :phone_customer %>
    <%= f.association :local %>
    <%= f.association :order_status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
